extends layout

block content
  div 
    div 
      h1 User Management
    if deletebtn
        form(action="/users/management")
            
        form(action="/" method="POST")
           

  
  

